{% extends 'based.html' %}
{% block head %}
    <title>Detail post</title>
{% endblock %}

{% block body %}
    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Header -->
        <header id="header">
            <a href="/index.html/1" class="logo">Massively</a>
        </header>

        <!-- Nav -->
        <nav id="nav">
            <ul class="links">
                <li><a href="/index.html/1">Home page</a></li>
            </ul>
            <ul class="icons">
                <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
            </ul>
        </nav>

        <!-- Main -->
        <div id="main">

            <!-- Featured Post -->
            <article class="post featured">
                <header class="major">
                    <span class="date">{{ data[3] }}</span>
                    <h2><a>{{ data[1] }}</a></h2>
                    <p style="white-space: pre-wrap">{{ data[2] }}</p>
                </header>
                <a class="image main"><img src="{{ data[4] }}"
                                           alt=""/></a>
                <ul class="actions special">
                    <li><a href="/delete/{{ data[0] }}" class="button large">Delete post</a></li>
                </ul>
            </article>

        </div>

        <!-- Footer -->
        <footer id="footer">
            <section>
                <form method="post" action="/detail/edit/{{ data[0] }}">
                    <div class="fields">
                        <div class="field">
                            <label for="name">Title</label>
                            <input type="text" name="title" id="name" value="{{ data[1] }}"/>
                        </div>
                        <div class="field">
                            <label for="email">Link image</label>
                            <input type="text" name="link" id="email" value="{{ data[4] }}"/>
                        </div>
                        <div class="field">
                            <label for="message">Content</label>
                            <textarea name="message" id="message" rows="3">{{ data[2] }}</textarea>
                        </div>
                    </div>
                    <ul class="actions">
                        <li><input type="submit" value="Edit post"/></li>
                    </ul>
                </form>
            </section>
            <section class="split contact">
                <section class="alt">
                    <h3>Address</h3>
                    <p>1234 Somewhere Road #87257<br/>
                        Nashville, TN 00000-0000</p>
                </section>
                <section>
                    <h3>Phone</h3>
                    <p><a href="#">(000) 000-0000</a></p>
                </section>
                <section>
                    <h3>Email</h3>
                    <p><a href="#">info@untitled.tld</a></p>
                </section>
                <section>
                    <h3>Social</h3>
                    <ul class="icons alt">
                        <li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
                        <li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a>
                        </li>
                        <li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a>
                        </li>
                        <li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
                    </ul>
                </section>
            </section>
        </footer>

        <!-- Copyright -->
        <div id="copyright">
            <ul>
                <li>&copy; Untitled</li>
                <li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
            </ul>
        </div>

    </div>
{% endblock %}